@font-face{
    font-family: "PtSans";
    font-style: normal;
    font-weight: 400;
    src: local("PtSans"),
         url("res/fonts/ptsansnarrow.woff2") format("woff2"),
         url("res/fonts/ptsansnarrow.woff") format("woff");
}

@font-face{
    font-family: "PtSansBold";
    font-style: bold;
    font-weight: 400;
    src: local("PtSansBold"),
         url("res/fonts/ptsansnarrowbold.woff2") format("woff2"),
         url("res/fonts/ptsansnarrowbold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PtSansBold;
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

.content {
    width: 960px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(res/img/bodyfon.jpg);
    color: white;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-image: url(res/img/navfon.png);
    width: 100%;
}

.navLinkButtons {
    display: flex;
    justify-content: left;
}

.linkButton {
    background-color: black;
    color: white;
    width: 140px;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
}

.linkButton:hover {
    transform: scale(105%);
    background-color: chocolate;
}

.linkButton:active { 
    transform: scale(90%);
}

.button {
    border: none;
    background-color: black;
    color: white;
    width: 140px;
    height: 44px;
    cursor: pointer;
}

.buttonSign {
    border: none;
    background-color: black;
    color: white;
    width: 60px;
    height: 44px;
    padding-right: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(105%);
    background-color: chocolate;
}

.button:active {
    transform: scale(90%);
}

.logo {
    width: 286px;
    margin: 36px;
}

.advans {
    display: flex;
    margin: 0 0 16px 0;
}

.advan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px 0;
    flex: 1;
}

/* .advan h1, img, p {
    margin-bottom: 10px;
} */

.advanMargin {
    margin-bottom: 10px;
}

.line {
    display: flex;
    background-image: url(res/img/linefon.png);
    color: black;
    margin-bottom: 36px;
}

.cube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px 40px;
}

.randomNews {
    display: flex;
    flex-direction: column;
}

.time {
    opacity: 0.5;
    margin-bottom: 5px;
}

.cube img {
    width: 200px;
    margin: 5px;
}

.lineButtonsAndLinkButtons {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.footer {

}